.homeContainer {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #504f4f;
    position: relative;
}

.homeHeader {
    width: 100%;
    /* background-color: red; */
}

.title {
    position: relative;
    margin: 5%;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 10px;
}

.title h1 {
    color: aliceblue;
}

.filter2 {
    /* display: flex;
    flex-direction: column; */
}