.containerCreate {
    bottom: 130px;
    width: 100vw;
    height: 100%;
    max-width:max-content;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: #29282800;
    /* background-color: #fd0707; */

    position: relative;
}


.title {
    width: 100vw;
    bottom: 500px;
    /* right: 40%; */
    /* bottom: 90px; */
    display: flex;
    position: absolute;
    text-align: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: 30vh;
    /* left: 10%; */
    /* background-size: cover; */
    /* overflow: hidden; */
}

.title h1 {
    width: 80%;
    text-align: center;
    font-size: 50px;
    background-color: rgb(255, 187, 0);
    color: rgb(63, 63, 65);
    text-shadow: 2px 2px 2px rgb(102, 100, 100);
    text-transform: capitalize;
    opacity: 1;
    border-radius: 15px;
}

.contentImages{
    width: 100%;
    background-color: rgba(53, 52, 50, 0.66);
    display: flex;
    flex-direction:column;
    position: relative;
    align-content: center;
    align-items: center;
    /* margin-left: 40px; */
    border-radius: 20px;
    bottom: 300px;
    left: 40px;
    
}

.imagestitle {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    /* margin: 15px; */
    background-color: rgba(255, 200, 1, 0.595);
    color: rgb(63, 63, 65);
    text-shadow: 2px 2px 2px rgb(102, 100, 100);
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 2px;
    align-items: center;
    align-content: center;


}

.firstImage {
    background-color: #292828;
    top: 0;
    z-index: 22;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.firstImage img {
    width: 100vw;
    height: 100vh;
    opacity: .6;
    z-index: -1;
}

.preview {
    
    height: 50%;
    position: relative;
    justify-content: center;
    flex-direction:column-reverse;
    top: 75px;
     /* background-color: yellow; */
}


.filterstitle{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    bottom: 20px;
    /* background-color: red; */
}

.filterstitle h3 {
    margin-left: 380px;
    width: 50%;
    text-align: center;
    background-color: rgba(255, 200, 1, 0.595);
    color: rgba(33, 32, 32, 0.745);
    text-shadow: 2px 2px 2px rgb(102, 100, 100);
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;
}

.danger {
    color: red;
    font-size: 10px;
}