.containerImg {
    /* width: 100%; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-radius: 10px;
    padding: 4px;
    /* background-color: red; */
}

.img {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    /* width: 150px; */
    padding: 5px;
    height: 200px;
}

.img:hover {
    background-color: rgba(255, 209, 3, 0.517);
    transition: .3s ease;
}